@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Noto+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Noto+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');



body {
  font-family: 'Noto Sans', sans-serif; /* Set a default font for the body */
}

h1, h2, h3 {
  font-family: 'Noto Serif', serif; /* Set a different font for headings */
}

.special-font {
  font-family: 'Island Moments', cursive; /* A class for using the special font */
}



